.noPadding {
    padding: 0 !important;
    overflow: hidden;
}

h1,
h2 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

h5 {
    font-family: 'Share Tech', sans-serif;
    text-align: center;
}

.card-header {
    font-family: 'Share Tech', sans-serif;
    text-align: center;
    color:white;
}

#keyPrompt {
    font-family: 'Share Tech', sans-serif;
    font-size:  18px;
    color:black;
}

/* Font style for the numbers */
#currentWord,
#wins,
#losses,
#guessesLeft,
#lettersGuessed,
#totalGames,
#credits,
#lastGuess {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: blue;
    padding: 10px;
}

body,
html {
    height: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: lightgray url(../images/hexellence.png);
}

.jumbotron-welcome {
    background-image: url("../images/cityscape.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}