h1,
h2 {
    font-family: 'Orbitron', sans-serif;
    width: 100%;
}

h5 {
    font-family: 'Share Tech', sans-serif;
    text-align: center;
}

p {
    font-size: 16px;
}

#currentWord,
#wins,
#losses,
#guessesLeft,
#lettersGuessed {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: blue;
    padding: 10px;
}